*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar{
  width: 100%;
  padding: 10px;
  background-color: #282c34;
  display: flex;
  align-items: center;
}

.NavBarTitle{
  font-size: 20pt;
  color: white !important;
}

.NavBarTitle a{
  font-size: 20pt;
  color: white !important;
}

.NavBarWrapper{
  width: 100%;
}

.NavBarSearch{
  width: fit-content;
  position: relative;
}

.NavBarSearch .suggestions{
  position: absolute;
  width:100%;
  padding:3px;
  background-color: white;
  top: 26px;
  z-index: 2;
}

.NavBarSearch .suggestions div{
  cursor: pointer;
}

.NavBarSearch .suggestions div:hover{
  background-color: rgba(40, 44, 52, 0.1);
}

.NavBarSearch input{
  width: 300px;
  border-radius: 3px;
  padding: 5px;
  border: 0px;
}

.Cards{
  width: 100%;
  display: flex;
}

.Card{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.Box{
  width:100%;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
}

.BoxTitle{
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.BoxBody{
  width: 100%;
  padding: 5px;
}

.BoxBodyDay, .BoxBodyItem{
  width: 100%;
  text-align: left;
}

.BoxBodyDay{
  padding: 5px 0px;
  font-weight: bold;
}

.BoxBodyItem{
  padding: 2px 20px;
}

a{
  color: initial;
  text-decoration: none;
}

.NavBarButton{
  padding: 0px 10px;
}

.NavBarButton a{
  color: rgb(238, 238, 238) !important;
}